<!DOCTYPE html>
<html>
  <head>
    <title>CalendarRbyio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <% render partial: 'page/nav' %>
    <%= yield :navigation %>
    
    <div class="container" style="margin:0;">
        
      <div class="sidebar">
        <% if :sideBarDay %>
          <div class="sideBarCal">
            <%= yield :sideBarDay %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    
  </body>
</html>
