<!DOCTYPE html>
<html>
  <head>
    <title>CalendarRbyio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %> 
  
  </head>

  <body>

    <% render partial: 'page/nav' %>
    <%= yield :navigation %>
    
    <div class="container" style="margin:0;">
      
      <aside>
        <% if :sideBarDay %>
          <div class="sideBarCal">
            <%= yield :sideBarDay %>
          </div>
        <% end %>
      </aside>
      <main>
        <% if :mainCalendar %>
          <%= yield :mainCalendar %>
        <% end %>
        <%= yield %>
      </main>
    </div>
    
  </body>
</html>
